.axis path,
.axis line {
  fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.data-sources {
    margin-bottom: 20px; /* Add margin to create space between this section and the buttons */
    font-size: 14px;
    text-align: left; /* Align text to the left */
    font-style: italic; /* Italicize the text */
}

.data-sources a {
    display: block;
    color: #626262;
    text-decoration: none;
}

.data-sources a:hover {
    text-decoration: underline;
}
* {
    font-family: sans-serif;
}

.footer {
    position: absolute; /* Changed from fixed to absolute */
    bottom: 20px; /* Adjust the distance from the bottom if needed */
    left: 20px; /* Adjust the distance from the left if needed */
    margin: 0;
    width: calc(100% - 40px); /* Make the footer span the full width minus padding */
    text-align: left; /* Align the text to the left */
}